<div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-if="!vm.hideMenuButton()" ng-click="vm.openSideNav('left')" aria-label="side navigation">
        <md-icon md-font-icon="zmdi zmdi-menu"></md-icon>
    </md-button>
    <h2 hide-xs flex>
        <span ng-repeat="crumb in vm.breadcrumbs.crumbs">
            <span translate>{{crumb.name}}</span>
            <md-icon md-font-icon="zmdi zmdi-chevron-right" ng-if="!$last">
        </span>
    </h2>

    <span show-xs flex></span>
    
    <md-button class="md-icon-button" ng-click="vm.toggleSearch()" aria-label="{{'Toggle Menu' | triTranslate}}">
        <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
    </md-button>

    <input class="toolbar-search" ng-show="vm.showSearch" ng-model="studentSearch" ng-change="vm.filterStudentList(studentSearch)" type="text" placeholder="{{'Zoeken' | triTranslate}}" flex>


    <md-button hide-xs class="md-icon-button toolbar-button" ng-click="vm.toggleFullScreen()" aria-label="toggle fullscreen">
        <md-icon md-font-icon ng-class="vm.fullScreenIcon"></md-icon>
    </md-button>

    <select-groups only-owned="true"></select-groups>

     <md-menu>
        <md-button aria-label="Open user menu" ng-click="$mdOpenMenu()" aria-label="side navigation">
            <img class="toolbar-user-avatar" ng-src="{{vm.user.picture}}">
            {{vm.user.given_name}}
        </md-button>
        <md-menu-content width="4">
            <md-menu-item>
                <md-button ng-click="vm.toggleNotificationsTab(2)" aria-label="side navigation">
                    <md-icon md-font-icon="zmdi zmdi-settings"></md-icon>
                    <span translate="Instellingen"></span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button href="#" aria-label="side navigation">
                    <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                    <span translate="Profiel"></span>
                </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button href="#/login" aria-label="side navigation">
                    <md-icon md-font-icon="zmdi zmdi-sign-in"></md-icon>
                    <span translate="Afmelden"></span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>

<!--
    <md-button class="md-icon-button toolbar-button animated" ng-click="vm.toggleNotificationsTab(0)" aria-label="side navigation">
        <md-icon md-font-icon="zmdi zmdi-email"></md-icon>
        <span class="toolbar-button-badge animated" theme-background="accent" ng-class="{ 'toolbar-button-badge-new' : vm.emailNew }">5</span>
    </md-button>

    <md-button class="md-icon-button toolbar-button" ng-click="vm.toggleNotificationsTab(1)">
        <md-icon md-font-icon="fa fa-bell-o"></md-icon>
        <span class="toolbar-button-badge" theme-background="accent">2</span>
    </md-button>
-->

</div>
