.datepicker {
    h4.md-header {
      text-transform: uppercase;
      text-align: center;
      padding: 15px;
      margin-top: -8px;
      background-color: rgba(0,0,0,.12);
    }

    md-menu-item .md-button {
        span {
            font-weight: 400;
            margin: auto;
            text-transform: uppercase;
        }
    }

    md-menu-actions {
      
    }

}
