// Variables
// --------------------------

$notos-font-name:      "Notos Icons" !default;
$notos-font-path:      "../fonts" !default;
$notos-css-prefix:     notos-hc !default;
$notos-icon-prefix:    notos !default;
$notos-version:        "0.0.3" !default;

$notos-border-color:   #9E9E9E !default;
$notos-inverse:        #FFFFFF !default;
$notos-li-width:       (30em / 14) !default;
