<div flex layout="row">
    <md-content flex="30">
        <md-list class="evaluation-list">
            <div ng-repeat="student in vm.students">
                <md-subheader class="md-primary">
                    {{student.displayName}}
                </md-subheader>
                <md-list-item class="evaluation-list__evaluation evaluation-list__evaluation--animated md-2-line" ng-click="vm.openIAC(iac)" ng-repeat="iac in student.iacs">
                    <div class="md-list-item-text" layout="column">
                        {{iac.branch.major.name}} - {{iac.branch.name}}
                    </h3>
                        <h4>{{iac.start | ntDate}} - {{iac.end | ntDate }}</h4>
                    </div>
                </md-list-item>
            </div>
        </md-list>
    </md-content>
    <div class="md-whiteframe-z1 animate-wrapper" layout="column" layout-align="start center" flex>
        <div flex id="ui-reporting-evaluation" ui-view layout="column" layout-align="start center" class="overflow-auto full-width">
            <div flex class="evaluation-no-evaluation-selected" layout="column" layout-align="center">
                <h2 hide-xs translate>Geen aangepast curriculum geselecteerd</h2>
            </div>
        </div>
    </div>
</div>
