<md-content class="md-padding full-width">
    <md-settings>
        <md-settings-header class="">
            <md-settings-avatar>
                <user-avatar ng-model="::vm.student" class="md-user-avatar"></user-avatar>
            </md-settings-avatar>
            <md-settings-header-text>
                <span class="md-title">{{::vm.student.displayName}}</span>
                <span class="md-subhead">{{::vm.student.username}}</span>
                <span class="md-subhead margin-top">°{{::vm.student.birthday | date:'dd MMMM yyyy'}}</span>
                <span class="md-subhead">Nu in klas <a ui-sref="triangular.manage.groups.group({groupId:classGroup.id})" 
                    ng-repeat="classGroup in vm.student.activeGroups">{{classGroup.name}} <span ng-if="!$last"></span></a>
                </span>
            </md-settings-header-text>
            <md-settings-actions>
                <md-button class="md-icon-button" ng-click="vm.closeStudent()" aria-label="sluiten">
                    <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
                </md-button>
            </md-settings-actions>
        </md-settings-header>
        <md-settings-list>
            <md-settings-item class="diff-modules readonly">
                <md-settings-item-header layout="row" layout-align="start center">
                    <span ng-repeat="redicodi in vm.redicodi | unique: 'module.id'" md-padding>
                        <md-icon md-font-icon="{{redicodi.module.icon}}"></md-icon>
                        <md-tooltip>{{redicodi.module.name}} sinds {{redicodi.start | ntDate}}</md-tooltip>
                    </span>
                </md-settings-item-header>
            </md-settings-item>
            <md-settings-item>
                <md-settings-item-header>
                    <div class="md-title">Redicodi</div>
                    <div class="md-subhead">Redicodi-modules van {{::vm.student.displayName}} weergeven en beheren.</div>
                </md-settings-item-header>
                <md-settings-item-content>
                    <md-item-header ng-click="vm.revert()">
                        <div class="md-title">Redicodi</div>
                    </md-item-header>
                    <md-item class="padding-0">
                        <div layout="row" layout-align="end center" class="padding-10">
                            <md-button class="md-raised" ng-click="vm.addRedicodi($event)">redicodi toevoegen</md-button>
                        </div>
                        <md-divider></md-divider>
                        <md-table-container>
                            <table md-table class="md-primary md-data-table">
                                <thead md-head>
                                    <tr md-row>
                                        <th md-column>Periode</th>
                                        <th md-column>Vak</th>
                                        <th md-column>Module</th>
                                        <th md-column>Inhoud</th>
                                        <th md-column></th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row ng-repeat="redicodi in vm.redicodi">
                                        <td md-cell flex="33">
                                            {{ redicodi.start | ntDate }} - {{ redicodi.end | ntDate }}
                                        </td>
                                        <td md-cell>
                                            <span ng-if="redicodi.major">{{redicodi.major.name}}</span>
                                            <span ng-if="redicodi.branch">{{ redicodi.branch.major.name }} - {{ redicodi.branch.name }}</span>
                                        </td>
                                        <td md-cell>
                                            <md-icon md-font-icon="{{redicodi.module.icon}}"></md-icon>
                                            <md-tooltip>{{redicodi.module.name}}</md-tooltip>
                                        </td>
                                        <td md-cell>
                                            {{ redicodi.content }}
                                        </td>
                                        <td md-cell>
                                            <md-button class="md-icon-button" ng-click="vm.addRedicodi($event, redicodi)">
                                                <md-icon md-font-icon="zmdi zmdi-edit"></md-icon>
                                                <md-tooltip>Bewerken</md-tooltip>
                                            </md-button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </md-item>
                </md-settings-item-content>
            </md-settings-item>
            <md-settings-item>
                <md-settings-item-header>
                    <div class="md-title">Indivuele leerlijnen</div>
                    <div class="md-subhead">Individuele leerlijnen van {{::vm.student.displayName}} weergeven en beheren.</div>
                </md-settings-item-header>
                <md-settings-item-content>
                    <md-item-header ng-click="vm.revert()">
                        <div class="md-title">Individuele leerlijnen</div>
                    </md-item-header>
                    <md-item class="padding-0">
                        <div layout="row" layout-align="start center" class="padding-10">
                            <md-button class="md-raised" ng-click="vm.openIac($event)">leerlijn toevoegen</md-button>
                        </div>
                        <md-divider></md-divider>
                        <md-table-container>
                            <table md-table class="md-primary md-data-table">
                                <thead md-head>
                                    <tr md-row>
                                        <th md-column>Periode</th>
                                        <th md-column>Vak</th>
                                        <th md-column>Aantal doelen</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row ng-repeat="iac in vm.iacs">
                                        <td md-cell flex="33">
                                            {{iac.start | ntDate }} - {{iac.end | ntDate }}
                                        </td>
                                        <td md-cell>
                                            {{iac.branch.name}}
                                        </td>
                                        <td md-cell>
                                            {{iac.iacGoals.length}}
                                        </td>
                                        <td md-cell>
                                            <md-button class="md-icon-button" ng-click="vm.openIac($event, iac)">
                                                <md-icon md-font-icon="zmdi zmdi-edit"></md-icon>
                                                <md-tooltip>Bewerken</md-tooltip>
                                            </md-button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </md-item>
                </md-settings-item-content>
            </md-settings-item>
            <md-settings-item>
                <md-settings-item-header>
                    <div class="md-title">KiVa</div>
                    <div class="md-subhead">KiVa-dossier van {{::vm.student.displayName}} toevoegen of bewerken.</div>
                </md-settings-item-header>
                <md-settings-item-content>
                    <md-item-header ng-click="vm.revert()">
                        <div class="md-title">KiVa</div>
                    </md-item-header>
                    <md-item class="padding-0">
                        <div layout="row" layout-align="start center" class="padding-10">
                            <md-button class="md-raised" ng-click="vm.openKiva($event)">KiVa-dossier toevoegen</md-button>
                        </div>
                        <md-divider></md-divider>
                        <md-list>
                            <md-list-item md-no-ink ng-click="vm.openKivaFile($event, 'item')">
                                <md-icon md-font-icon="zmdi zmdi-play"></md-icon>
                                <div layout="column" flex="30">
                                    29 september 2016
                                </div>
                                <div layout="row" class="padding-right-10" flex="60">
                                    <span layout="column" flex>Pesten</span>
                                    <span layout="column" layout-align="end center" class="md-caption">(steungroep)</span>
                                </div>
                                <md-icon md-font-icon="zmdi zmdi-gps-dot"></md-icon>
                                <md-button class="md-icon-button" ng-click="vm.openKivaFile($event, 'item')">
                                    <md-icon md-font-icon="zmdi zmdi-chevron-down"></md-icon>
                                </md-button>
                            </md-list-item>
                            <div ng-if="vm.selectedKiva=='item'" class="padding-20">
                                <div class="overlay-5 padded-content-page" animate-elements>
                                    <div class="timeline" layout="row" ng-repeat="event in ::vm.events" ng-attr-layout-align="{{$odd? 'end end':'start start'}}">
                                        <div layout="row" flex="50" flex-xs="100" ng-attr-layout-align="{{$odd? 'end':'start'}} center">
                                            <div class="timeline-point md-whiteframe-z1" theme-background="primary" md-theme="{{triSkin.elements.content}}">
                                                <md-icon md-font-icon="{{::event.icon}}" class="timeline-point-avatar"></md-icon>
                                                <div class="timeline-point-date" ng-bind-html="::event.date"><span></div>
                                            </div>
                                            <md-divider class="timeline-x-axis" class="margin-0" flex flex-order="2"></md-divider>
                                            <kiva-widget class="timeline-widget margin-0 flex-70 flex-xs-100 {{::event.classes}}" title="{{::event.title}}" subtitle="{{::event.subtitle}}" ng-attr-flex-order="{{$odd? 2:1}}" show-more="{{::event.more}}">
                                                <div replace-with='{{event.content}}'></div>
                                            </kiva-widget>
                                            <md-divider class="timeline-y-axis"></md-divider>
                                        </div>
                                    </div>

                                    <div class="timeline" layout="row" layout-align="end end">
                                        <md-button ng-click="vm.addKivaStep($event, vm.selectedKiva)">Stap toevoegen</md-button>
                                    </div>
                                </div>
                            </div>
                            <md-list-item md-no-ink ng-click="null">
                                <md-icon md-font-icon="zmdi zmdi-check"></md-icon>
                                <div layout="column" flex="30">
                                    25 september 2016
                                </div>
                                <div layout="row" class="padding-right-10" flex="60">
                                    <span layout="column" flex>Ruzie tussen kinderen</span>
                                    <span layout="column" layout-align="end center" class="md-caption">(melding)</span>
                                </div>
                                <md-icon md-font-icon="zmdi zmdi-mood-bad"></md-icon>
                                <md-button class="md-icon-button" ng-click="vm.openKivaFile('item')">
                                    <md-icon md-font-icon="zmdi zmdi-chevron-down"></md-icon>
                                </md-button>
                            </md-list-item>
                        </md-list>
                    </md-item>
                    <div layout="row" layout-align="end center">
                        <md-button ng-click="vm.revert()">Annuleren</md-button>
                        <md-button ng-click="vm.save()" class="md-primary">Opslaan</md-button>
                    </div>
                </md-settings-item-content>
            </md-settings-item>
        </md-settings-list>
    </md-settings>
</md-content>
