// Overrides
a {
    color: #00BCD4;
}

body[md-theme="dark"] {
    background-color: #3a3a3a;
}

.md-dark-theme {
    color: rgba(255, 255, 255, .7) !important;
    a {
        color: #ffffff;
    }
}

.md-open-menu-container {
    background: #ffffff;
 }
md-list {
    padding-top: 0px;
    padding-bottom: 0px;
}

.md-list-item-inner {
    max-width: 100%;
    box-sizing: border-box;
}

md-list-item ._md-list-item-inner .md-avatar.course-avatar {
    width: 30px;
    height: 30px;
}

.thumb1 {
    background: url(blah.jpg) 50% 50% no-repeat;
    /* 50% 50% centers image in div */
    width: 250px;
    height: 250px;
}

.thumb a {
    display: block;
    width: 250px;
    height: 250px;
}

user-avatar.md-avatar,
user-avatar.md-user-avatar {
    width: 40px;
    height: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .32);
    > div {
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        width: 40px;
        height: 40px;
        display: block;
    }
}

user-avatar.md-user-avatar {
    width: 100px;
    height: 100px;
    > div {
        width: 100px;
        height: 100px;
    }
}


.email-inbox-list-item p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

md-card md-card-content {
    display: block;
}

ui-gmap-google-map img {
    max-width: none;
}

#footer .md-toolbar-tools h2 {
    font-size: 1.8rem;
    line-height: 2.2rem;
}

// datepicker background
md-datepicker,
md-datepicker .md-datepicker-input {
    background: none !important;
}

// md-data-table stop transition on toolbars
.md-table-toolbar {
    transition: none;
}

.cover {
    background-size: cover;
}

md-input-container.narrow {
    margin: 0;
}

label.md-caption {
    &.date-label {
        visibility: hidden;
        height: 20px;
        display: block;
        color: rgba(0, 0, 0, .54) !important;
    }
    &.caption-active {
        visibility: visible;
    }
}
